@import 'ember-bootstrap/bootstrap';
@import './components/header.scss';
@import './components/carousel.scss';
@import './components/productItem.scss';
@import './components/shoppingButton.scss';
@import './components/shoppingItem.scss';
@import './pages/cart.scss';

.body {

  padding-top: 10vh;
}

@media (max-width: 978px) {
  .container {
    padding:0;
    margin:0;
  }

  .body {
    padding:0;
    .col-12{
      padding-right: 0;
    }
  }


}


