<div class="card-container">
  <div class="card product-item" {{did-insert componentDidMount}}>
    <img src={{@imageUrl}} class="product-image card-img-top" alt="...">
    <div class="card-body">
      <h5>{{@title}}</h5>
    </div>
    <div class="footer">
      <p class="card-text"><span class="badge badge-secondary"><strong>Price: </strong>{{@price}}</span></p>
      <button type="button" class="btn btn-warning">Add to cart</button>
    </div>
  </div>
</div>