<header class="header  bg-dark text-white">
  <nav class="header navbar navbar-expand-lg navbar-dark bg-dark text-white">
    <a class="navbar-brand" href="#">FakeStore.com</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse bg-dark" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <div class="container">
          <li class="nav-item active">
            <LinkTo class="nav-link" @route="home">Home </LinkTo>
          </li>
          <li class="nav-item">
            <LinkTo class="nav-link" @route="products">Products </LinkTo>
          </li>
          </div>
        </ul>
        <div class="text-end">
          <button type="button" class="btn btn-outline-light me-2">Login</button>
          <button type="button" class="btn btn-warning">Sign-up</button>
        </div>
  </div>
</nav>
  </header>