<LinkTo @route="cart">
<div class="shopingButton" {{did-insert this.componentDidMount}}>
  <FaIcon @icon="shopping-cart" />
  {{#if this.items.length}}
  <div class="shopping-badge d-flex justify-content-center align-items-center">{{this.items.length}}</div>
  {{/if}}
</div>
</LinkTo>