{{page-title "Cart"}}
<div class="cart-list container">
  {{#if @model.length}}
  {{#each @model as |shoppingItem|}}
    <ProductTile @shoppingItem={{shoppingItem}} />
    {{/each}}
{{else}}
<h3>You don't have any item in your basket.</h3>
{{/if}}
</div>